@import 'tailwindcss';

@theme {
  --color-gray-100: #e5e7eb;
  --color-gray-150: #f1f2f4;
  --color-gray-350: #727282;
  --color-gray-400: #0a0a0a;
  --color-gray-410: #F4F4F4;
  --color-gray-430: #717182;
  --color-gray-460: #e5e5e5;
  --color-gray-480: #707080;
  --color-gray-600: #0b0b1a;
  --color-gray-650: #030213;
}