<footer class="footer">
    <span>© James 2025</span>
</footer>

<style lang="scss">
    @reference "../styles/global.css";
    .footer {
        @apply bg-gray-400 text-white h-20;
        @apply flex items-center justify-center;
    }
</style>