---
const { class: className, ...rest } = Astro.props;
import Logo from "@/assets/icons/logo.svg";
import NavButton from "@components/NavButton.vue";
import IconHome from "@/assets/icons/icon_home.svg";
import IconPostList from "@/assets/icons/icon_post_list.svg";
import IconPerson from "@/assets/icons/icon_person.svg";
const currentPath = Astro.url.pathname;
console.log(currentPath);
---

<header class:list={["header-box", className]} {...rest}>
  <div class="content">
    <div class="logo-box">
      <Logo />
    </div>
    <div class="ml-auto flex items-center">
      <NavButton>
        <IconHome class="mr-1 w-4 h-4" />
        <span>首頁</span>
      </NavButton>
      <NavButton class="ml-2">
        <IconPostList class="mr-1 w-4 h-4" />
        <span>文章列表</span>
      </NavButton>
      <NavButton class="ml-2">
        <IconPerson class="mr-1 w-4 h-4" />
        <span>關於</span>
      </NavButton>
    </div>
  </div>
  <span class="bottom-line"></span>
</header>
<style>
  @reference "../styles/global.css";

  .header-box {
    @apply grid;
    grid-template-rows: 1fr 1px;
    grid-template-columns: 1fr;
    /* @apply flex flex-col; */
    /* border-bottom: 1px solid #e5e7eb; */
    /* @apply mx-auto px-3;
    @apply lg:px-0 lg:w-10/12; */
  }
  .content {
    @apply flex items-center;
    @apply px-3;
  }
  .logo-box {
    @apply flex items-center;
  }
  .logo {
  }
  .menus {
    @apply ml-auto;
  }
  .bottom-line {
    @apply h-px w-full;
    @apply bg-gray-100;
  }
</style>
