---
const { class: className, ...rest } = Astro.props;
import Logo from "@/assets/icons/logo.svg";
import NavButton from "@components/NavButton.astro";
import IconHome from "@/assets/icons/icon_home.svg";
import IconPostList from "@/assets/icons/icon_post_list.svg";
import IconPerson from "@/assets/icons/icon_person.svg";
import IconTag from "@/assets/icons/icon_tag.svg";
const currentPath = Astro.url.pathname;
---

<header class:list={["header-box", className]} {...rest}>
  <div class="content">
    <div class="logo-box">
      <a href="/" aria-label="回首頁">
        <Logo class="cursor-pointer" />
      </a>
    </div>
    <div class="ml-auto flex items-center">
      <NavButton isActive={currentPath === "/"}>
        <IconHome class="mr-1 w-4 h-4" href="/" />
        <span>首頁</span>
      </NavButton>
      <NavButton class="ml-2" href="/posts" isActive={currentPath === "/posts"}>
        <IconPostList class="mr-1 w-4 h-4" />
        <span>文章列表</span>
      </NavButton>
      <NavButton class="ml-2" href="/tags" isActive={currentPath === "/tags"}>
        <IconTag class="mr-1 w-4 h-4" />
        <span>標籤</span>
      </NavButton>
      <NavButton class="ml-2" href="/about" isActive={currentPath === "/about"}>
        <IconPerson class="mr-1 w-4 h-4" />
        <span>關於</span>
      </NavButton>
    </div>
  </div>
  <span class="bottom-line"></span>
</header>
<style>
  @reference "../styles/global.css";

  .header-box {
    @apply grid;
    grid-template-rows: 1fr 1px;
    grid-template-columns: 1fr;
  }
  .content {
    @apply flex items-center;
    @apply px-3;
    @apply max-w-screen-lg w-full mx-auto;
  }
  .logo-box {
    @apply flex items-center;
  }
  .logo {
  }
  .menus {
    @apply ml-auto;
  }
  .bottom-line {
    @apply h-px w-full;
    @apply bg-gray-100;
  }
</style>
