---
---

<header class="header">
    <div class="header__content">
        <h1>James</h1>
        <nav class="flex items-center ml-auto">
            <a href="/about">關於我</a>
            <a href="/blog" class="ml-4">blog</a>
            <a href="/side-project" class="ml-4">作品集</a>
        </nav>
    </div>
</header>

<style lang="scss">
    @reference "../styles/global.css";
    .header {
        @apply px-1.5;
        height: 70px;
        @apply bg-gray-500 text-white;
        @apply flex items-center justify-center flex-shrink-0;
        &__content {
            @apply w-full;
            @apply lg:max-w-5xl;
            @apply flex items-center;
        }
    }
</style>