---
interface Props {
  class?: string;
  title?: string;
}
const { title, class: className } = Astro.props as Props;
---

<div class={`post-tag ${className}`}>
  <span>{title}</span>
</div>

<style>
  @reference "../styles/global.css";
  .post-tag {
    @apply leading-none text-xs;
    @apply px-2 py-0.5 rounded-full;
    @apply flex items-center;
    background-color: rgba(56, 189, 248, 0.1);
    color: var(--color-accent);
    transition: all 0.2s;
  }
  .post-tag:hover {
    background-color: rgba(56, 189, 248, 0.2);
    color: var(--color-accent-hover);
  }
</style>
