---
import PostListItem from "@/components/PostListItem.astro";
import { getCollection } from "astro:content";
const posts = await getCollection("posts");
const { class: className } = Astro.props;
---

<div class={`post-list ${className ?? ""}`}>
  {
    posts.map((post, index) => (
      <PostListItem
        id={post.id}
        title={post.data.title}
        description={post.data.description}
        createDate={post.data.createDate}
        class={index > 0 ? "mt-6" : ""}
        client:load
      />
    ))
  }
</div>

<style>
  @reference "../styles/global.css";
  .post-list {
    @apply flex flex-col;
  }
</style>
