---
interface Props {
  class?: string;
  title?: string;
}
const { title, class: className } = Astro.props as Props;
---

<div class={`post-tag ${className}`}>
  <span>{title}</span>
</div>

<style>
  @reference "../styles/global.css";
  .post-tag {
    @apply leading-none text-sm;
    @apply border border-black/20;
    @apply px-3 py-1 rounded-lg;
    @apply flex items-center;
  }
  .post-tag:hover {
    @apply border-black/70;
    @apply bg-black;
    @apply text-white;
  }
</style>
