---
import ProfileCard from "./ProfileCard.astro";
import ProfileDetailCard from "@/components/ProfileDetailCard.astro";
import IconEducation from "@/assets/icons/icon_education.svg";
interface Props {
    class?: string;
}
const { class: className = "" } = Astro.props as Props;
---

<ProfileCard class={`${className}`}>
    <div class="flex items-center mb-6">
        <IconEducation class="w-6 h-6 text-amber-300" />
        <span class="flex text-2xl ml-2">教育程度</span>
    </div>
    <ProfileDetailCard>
        <span class="text-white">台北科技大學</span>
        <span class="text-amber-400">資訊工程學系</span>
        <span class="text-slate-400">2009 ~ 2012</span>
    </ProfileDetailCard>
</ProfileCard>

<style>
    @reference "../styles/global.css";
</style>
