---
import ProfileCard from './ProfileCard.astro';
import ProfileDetailCard from '@/components/ProfileDetailCard.astro';
import IconBriefcase from '@/assets/icons/icon_briefcase.svg';
import IconCurrentJob from '@/assets/icons/icon_current_job.svg';
import IconPostDate from '@/assets/icons/icon_post_date.svg';
interface Props {
  class?: string;
}
const { class: className = '' } = Astro.props as Props;
---

<ProfileCard class={`${className}`}>
  <div class='flex items-center mb-12'>
    <IconBriefcase class='text-accent w-8 h-8' />
    <span class='flex text-3xl ml-3'>工作經歷</span>
  </div>
  <!-- <div class="flex flex-col mt-12"> -->
  <div class='experience-section'>
    <div class='flex'>
      <div class='icon-box icon-current-job'>
        <IconCurrentJob class='w-5 h-5' />
      </div>
      <ProfileDetailCard class='job-detail-card'>
        <div class='flex'>
          <div class='flex flex-col'>
            <span class='job-title'>資深前端工程師</span>
            <span class='company-name'>艾克森科技有限公司</span>
          </div>
          <div class='job-duration'>
            <IconPostDate />
            <span class='ml-1'>2022 ~ 現在</span>
          </div>
        </div>
        <ul class='mt-2 job-description'>
          <li>主要負責開發與維護菲律賓現場相關系統，包含帳房、代理網、遊戲介面、線上信用卡申辦和線上荷官系統</li>
          <li>建立共用 Dialog、輸入框、下拉式選單等基礎元件，提高專案一致性</li>
          <li>新增 tailwindCSS 樣式</li>
          <li>可以拆分業務邏輯，降低單一檔案有不同狀態判斷式，提高維護和擴充性</li>
          <li>擔任 mentor 和 code reviewer，指導三位新進工程師，培養架構思維和命名習慣</li>
          <li>協助團隊建立可擴充的開發模式，推動共用的 component 和 code style</li>
        </ul>
      </ProfileDetailCard>
    </div>
    <div class='flex mt-8'>
      <div class='icon-box'>
        <IconBriefcase class='w-5 h-5' />
      </div>
      <ProfileDetailCard class='job-detail-card'>
        <div class='flex'>
          <div class='flex flex-col'>
            <span class='job-title'>前端工程師</span>
            <span class='company-name'>特雷維科技有限公司</span>
          </div>
          <div class='job-duration'>
            <IconPostDate />
            <span class='ml-1'>2019 ~ 2021</span>
          </div>
        </div>
        <ul class='mt-2 job-description'>
          <li>主要負責開發與維護菲律賓現場相關系統，包含帳房、代理網、遊戲介面線上荷官系統</li>
          <li>將舊有 JSP 後台專案 重新設計並完整重寫，提升程式碼可維護性與擴充性</li>
          <li>負責開發 即時聊天室輸入框，並串接 WebSocket API</li>
          <li>與設計師、後端工程師合作，提升系統 UI/UX，並協助 junior 開發人員進行程式碼導讀與維護工作。</li>
          <li>維護並優化大型複雜表單</li>
        </ul>
      </ProfileDetailCard>
    </div>
  </div>
</ProfileCard>

<style>
  @reference "../styles/global.css";
  .experience-section {
    @apply flex flex-col;
  }
  .icon-box {
    @apply w-12 h-12 rounded-full shadow-lg;
    @apply flex justify-center items-center shrink-0;
    background: linear-gradient(to bottom, #e5dcbd, #d4cbb0);
    @apply hidden;
  }

  .icon-box.icon-current-job {
    @apply flex items-center justify-center shrink-0;
    @apply bg-gradient-to-br from-pink-400 to-pink-600;
    @apply hidden;
  }

  .job-title {
    @apply text-xl;
  }
  .company-name {
    @apply text-base text-accent;
  }
  .job-duration {
    @apply flex items-center text-text-muted text-sm;
    @apply ml-auto self-start;
  }
  .job-description {
    @apply list-disc list-inside marker:text-accent;
  }
  .job-description > li:not(:first-child) {
    @apply mt-1;
  }
  @media screen and (min-width: 40rem) {
    :global(.job-detail-card) {
      @apply ml-8;
    }
    .icon-box {
      @apply flex;
    }
    .icon-box.icon-current-job {
      @apply flex;
    }
  }
</style>
