<div class="tag">
    <slot />
</div>

<style>
    @reference "../styles/global.css";
    .tag {
        @apply leading-none text-xs rounded-2xl;
        @apply flex justify-center;
        @apply text-slate-300 bg-slate-700 px-2 py-1;
    }
</style>
