<div
    class="prose prose-invert prose-base prose-li:marker:text-gray-400 w-full max-w-full"
>
    <slot />
</div>

<style is:global>
  .prose :where(code):not(:where([class~="not-prose"] *))::before,
  .prose :where(code):not(:where([class~="not-prose"] *))::after {
    content: "" !important;
  }
</style>
