---
import Sidebar from "@components/Sidebar.astro";
import "@/styles/global.css";

interface Props {
  rightSidebar?: boolean;
}
const { rightSidebar = false } = Astro.props as Props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>James blog</title>
  </head>
  <body>
    <div class={`page ${rightSidebar ? "has-right-sidebar" : ""}`}>
      <Sidebar />
      <main class="main-content">
        <slot />
      </main>
      {
        rightSidebar && (
          <div class="right-sidebar">
            <slot name="toc" />
          </div>
        )
      }
    </div>
  </body>
</html>

<style is:global>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>

<style>
  @reference "#app.css";

  .page {
    @apply min-h-screen;
    @apply mx-auto;
    @apply bg-bg-primary text-bg-primary;
    max-width: 1460px;
    display: grid;
    grid-template-columns: 240px 1fr 240px;
    /* color: var(--color-text-primary); */
  }
  .page.has-right-sidebar {
    grid-template-columns: 240px 1fr 220px;
  }

  .main-content {
    @apply py-10 px-6;
    @apply flex flex-col;
  }

  .right-sidebar {
    @apply py-8;
  }
</style>
